<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <span
  ><b
    ><b>{{ title }}</b></b
  ></span
>
<div><b>Cuisine:</b> {{ restaurantInfo.cuisine }}</div>
<div><b>Contact:</b> {{ restaurantInfo.phone }}</div>
<div><b>Email:</b> {{ restaurantInfo.email }}</div>
<b>Address:</b> {{ restaurantInfo.address.stNO }}
{{ restaurantInfo.address.city }}, {{ restaurantInfo.address.state }},
{{ restaurantInfo.address.zip }} -->

<app-header></app-header>
<div class="main-width"></div>
<router-outlet></router-outlet>

<!-- @if(showHome){
<app-home></app-home>
}@if(showReserveTable){
<app-reservetable></app-reservetable>
} @if(showViewMenu) {
<app-viewmenu></app-viewmenu>
}@if(showContactUs) {
<app-contactus></app-contactus>
} @if(showUniversity) {
<app-university></app-university>
}-->
