.error-message {
    color: red;
}
button {
    padding: 20px;
      margin: 0pc;
      border-radius: 7px;
      border-color: rgb(17, 53, 65); 
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 1rem;
      cursor: pointer;
      align-items: center;
      background-color: #082c3f;
      color: white;

}
table {
    width: 100%;
    margin: 1rem 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 8px;
  }
  th {
    background-color: #082c3f;
    color: #ffffff;
    text-align: left;
    padding: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  /* Table data styling */
  td {
    padding: 0.8rem 1rem;
  color: #333333;
  border-bottom: 1px solid #dddddd;
}