<form [formGroup]="loginForm">
  <label for="userName">User Name</label>
  <input type="text" name="userName" id="userName" formControlName="userName" />

  @if(loginForm.get('userName').hasError('required') &&
  loginForm.get('userName').touched){
  <div class="error-msg">username is a required Field</div>
  }@if(loginForm.get('userName').hasError('minlength')) {
  <div class="error-msg">Min 4 chars is required</div>
  }@if(loginForm.get('userName').hasError('maxlength')) {
  <div class="error-msg">Max 15 chars are allowed</div>
  }
  <br />
  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    id="password"
    formControlName="password"
  />
  <br />
  <br />
  @if(loginForm.get('password').hasError('required') &&
  loginForm.get('password').touched){
  <div class="error-msg">Password is a required Field</div>
  }

  <button [disabled]="!loginForm.valid" type="submit" (clicl)="login()">
    Login User
  </button>
</form>
